<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ meta_description ?? 'Thila Coloma is de 5de grootste scoutsgroep van Vlaanderen, gevestigd in Mechelen sinds 1975. Meer dan 400 jongeren voelen zich bij ons thuis.' }}">
        
        <title>{{ if title }}{{ title }} - {{ /if }}Thila Coloma - Scoutsgroep Mechelen</title>
        
        <!-- CSS Files -->
        <link rel="stylesheet" href="/assets/css/variables.css">
        <link rel="stylesheet" href="/assets/css/fonts.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/assets/css/slideshow.css">
        <link rel="stylesheet" href="/assets/css/navigation.css">
        <link rel="stylesheet" href="/assets/css/responsive.css">
        <link rel="stylesheet" href="https://use.typekit.net/rae0xxq.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        
        {{ vite src="resources/js/site.js" }}
    </head>
    <body class="{{ template ?? 'default' }}">
        {{ template_content }}
        
        <!-- JavaScript Files -->
        <script src="/assets/js/slideshow.js"></script>
        <script src="/assets/js/news-slideshow.js"></script>
    </body>
</html>
